.okvir{
    border: 1px solid black;
    border-collapse: collapse;
    width: 30%;
}
.nazivStranica{
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
#stranica1{
    color: blue;
    text-decoration: underline;
}
#stranica2{
    color: blue;
    text-decoration: underline;
}
#stranica3{
    color: blue;
    text-decoration: underline;
}
